.experience-page {
  padding-left: 100px;
  padding-right: 50px;
  width: calc(100% - 150px);
  position: initial;
  height: 100%;
  overflow: auto;

  h1.page-title {
      margin-left: 100px;
      margin-top: 100px;
  }

  .images-container {
    display: flex;
    flex-direction: row;  /* Revert back to row for now */
    flex-wrap: wrap;
    gap: 15px;
    padding-bottom: 100px;
  }

  .image-box {
      position: relative;
      width: 85%;
      min-height: 400px;  /* Set a minimum height so it doesn't collapse */
      overflow: visible;  /* Set overflow to visible temporarily to diagnose the issue */
      border-radius: 10px;
      border: 10px solid #ffffff;
      margin-bottom: 50px; 
      margin-left: 7%;

      .experience-image {
          position: absolute;
          z-index: 2;
          width: 100%;
          height: 100%;
          object-fit: cover;
      }

      .content {
        position: absolute;
        bottom: 0;           // This ensures it's anchored to the bottom of its parent
        // width: 35%;
        z-index: 3;
        padding: 10px 20px;
        transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
        background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.2) 0,
          rgba(0, 0, 0, 1)
      );
        border-radius: 10px;
        border: 5px solid #fff;
        margin-bottom: 10px;
        margin-left: 10px;
        display: inline-block; // Added this

      }
    

      .title {
          margin-bottom: 5px;
          margin-top: 0;
          color: #fff;
          font-size: 24px;
          font-weight: 500;
          line-height: 24px;
          float: left;
          margin-left: 0;
          white-space: nowrap;  // Added this to ensure the title doesn't wrap
      }

      .description {
          font-size: 14px;
          margin-bottom: 5px;
          color: #fff;
          font-weight: 700;
      }

      .btn {
          margin-top: 30px;
          margin-bottom: 10px;
          padding: 0 23px;
          height: 40px;
          line-height: 34px;
          border: 2px solid #fff;
          border-radius: 4px;
          font-size: 14px;
          color: #fff;
          background: transparent;
          text-transform: uppercase;
          font-weight: 700;
          transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
          cursor: pointer;
      }

      .btn:hover {
          transform: translateY(-3px);
          background: #808080;
      }

      &:after {
          content: "";
          background: linear-gradient(180deg, #fff, #e4d5b7);
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: 2;
          transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
          opacity: 0;

      }

      &:hover:after {
          opacity: 0.85;
      }

      &:hover .content {
          bottom: 0;
        //   background: transparent;
      }
  }
}
// how to make grey bar stay at bottom